<mat-toolbar *ngIf="isHomeApp" fxLayoutAlign="space-between center" color="primary">
  <div fxLayoutAlign="space-between center" fxLayoutGap="10px">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Project Collection</span>
  </div>
  <div fxLayoutGap="10px">
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>face</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div *ngIf="isHomeApp" class="main" fxLayout="row wrap" fxLayoutAlign="start stretch">
  <div fxFlex="calc(25% - 30px)" [ngClass]="[!isRight(i) ? 'm-r-10':'',i<arr.length-4 ? 'm-b-10':'' ]" fxFlex.xs="100%"
    *ngFor="let x of arr; let i = index;">
    <mat-card style="height: 100%; cursor: pointer;" (click)="onSelectProject(i)">
      <mat-card-content style="height: 100%; overflow-y: auto;">
        <h1>Card {{ i + 1 }}</h1>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>